body,html {
  width: 100%;
  height: 100%;
  background: url(img1.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#more{
  background: rgba(0, 0, 0, 0.3);
  margin: 5% 20%;

}
#greet{
  background: rgba(0, 0, 0, 0.4);
  font-weight: 900;
  font-style: italic;
}
#greet :hover{
  background-color: #eaeaea;
}
.jtbtn{
   background-color : #a7ff83;
   color : black;
}
